
<center><br><br>

	<h1> Hullo, <%= session[:name] %>. Off we go!</h1>

	<h2> Pick r, p, or s and put it in below </h2>

		<form action="/result" method="post" >
  			<input type="text" name="player_move">
  			<input type="submit" value ="Play">
		</form>

</center>


