
<html>
<head>

	<h1> Hullo, <%= session[:name] %>. Off we go!</h1>

		<form action="/" method="post" >
  			<input type="text" Value="">
  			<input type="submit" value="Put in R, P or S!">
		</form>


</head>