<h2>Welcome to Battleship </h2>
  <img src="/images/slagskepp.jpg" alt="" width="801" height="350" border="2">
  <form action="/new_game" method="get" >
    <input type="submit" value="Play Now!">
  </form>