<!DOCTYPE html>
<html>
<head>
	<title>Hey, let´s play some Rock, Paper, and Scissors!</title>
 
  		<form action="/new_game" method="get" >
    	<input type="submit" value="Play Now!">
  		</form>
  		
</head>