<center><h1>Welcome!</h1>
<h2>Let's play some Rock, Paper, Scissors!</h2>
<h3>Please enter your name.</h3>
<form action="/play" method="post" >
  <input type="text" name="name"><br><br>
  <input type="submit" value="Continue">
</form>
</center>