<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors Game</title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css">
    <script src="/js/foundation.min.js"></script>

  </head>
  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>