<h2> What's your move, <%= @player_name %>?</h2>

<!-- <button class="button round button success" type="submit" formmethod="post" formaction="/play">Play Game!</button> -->

<form action="/result" method="post">
  Pick one <input type="hidden" value="Rock" name="player_move"><br>
  <button class="button round" type="submit" formmethod="post" formaction="/result">Rock</button>
</form>