<h2> You picked <%= @player_move %>.</h2>
<h2> Result: <%= @result %></h2>
<form action="/play" method="post">
  <input type="hidden" name="player_name" value=<%= @player_name %>>
  <button class="button round button success button expand" type="submit" formmethod="post" formaction="/play">Play Again</button>
</form>
